<h5>html prototype navigation</h5>
<h5 style ="padding-bottom:6px;">use ctrl-m to toggle</h5>



<h4>Login Page</h4>

<ul class="list-group">
  <li class="list-group-item"><a href="/login/">Login Default</a></li>
  <li class="list-group-item"><a href="/invalid-password/">Login - Invalid Password</a></li>
  <li class="list-group-item"><a href="/login-success/">Login - Success</a></li>
  <li class="list-group-item"><a href="/too-many-attempts/">Login - Warning Exceeding maximum Attempts</a></li>
</ul>

<h4>BOOST</h4>

<ul class="list-group">
  <li class="list-group-item"><a href="/BOOSTn/">boostn</a></li>
  <li class="list-group-item"><a href="/BOOSTp/">boostp</a></li>
  <li class="list-group-item"><a href="/BOOSTx/">boostx</a></li>
  <li class="list-group-item"><a href="/tBOOSTn/">tboostn</a></li>
  <li class="list-group-item"><a href="/tBOOSTx/">tboostx</a></li>
</ul>

<h4>Styles Preview</h4>

<ul class="list-group">
  <li class="list-group-item"><a href="/cerulean/">cerulean</a></li>
  <li class="list-group-item"><a href="/cosmo/">cosmo</a></li>
  <li class="list-group-item"><a href="/cyborg/">cyborg</a></li>
  <li class="list-group-item"><a href="/darkly/">darkly</a></li>
  <li class="list-group-item"><a href="/superhero/">superhero</a></li>
</ul>


